In [1]:
import pandas as pd

In [6]:
data = pd.read_excel('overlap_cele.xlsx')

In [7]:
data.head()

          name                                              value  length
0        ALU_U  [0, 1, 3, 6, 7, 11, 15, 16, 21, 30, 34, 41, 42...      18
1       Lin张林超    [1, 2, 7, 11, 39, 41, 56, 59, 83, 97, 100, 105]      12
2  AM__FASHION                               [2, 27, 47, 56, 100]       5
3       MALInv                                        [3, 19, 31]       3
4      Tikilee                        [2, 4, 33, 37, 39, 69, 100]       7

In [8]:
data['value'] = data['value'].map(lambda x: eval(x))

In [9]:
value_list = data['value'].tolist()

In [11]:
result_list = []
for ele in value_list:
    for element in ele:
        result_list.append(element)

In [14]:
result_set = list(set(result_list))

result_dic = {}
for ele in result_set:
    result_dic[ele] = result_list.count(ele)

In [16]:
wanghong = []
count = []
for key in result_dic:
    wanghong.append(key)
    count.append(result_dic[key])

result_df = pd.DataFrame({'wanghong':wanghong,'count':count})

In [18]:
result_df.to_csv('result_df.csv',index=False)