In [1]:
import pandas as pd

In [2]:
data1 = pd.DataFrame({'id':[1,2,3,4],'like':[12,23,25,78]})

In [3]:
data1

   id  like
0   1    12
1   2    23
2   3    25
3   4    78

In [4]:
data2 = pd.DataFrame({'id':[1,2,8,10],'repost':[10,17,20,63]})

In [5]:
data2

   id  repost
0   1      10
1   2      17
2   8      20
3  10      63

In [8]:
all_user_id_1 = data1['id'].tolist()
all_user_id_2 = data2['id'].tolist()

all_user_id_1.extend(all_user_id_2)
# all_user_id = list(set(all_user_id_1.extend(all_user_id_2)))

In [9]:
all_user_id_1

[1, 2, 3, 4, 1, 2, 8, 10]

In [10]:
all_user_set = list(set(all_user_id_1))

In [11]:
all_user_set

[1, 2, 3, 4, 8, 10]

In [12]:
empty_df = pd.DataFrame({'id':all_user_set})

In [13]:
empty_df

   id
0   1
1   2
2   3
3   4
4   8
5  10

In [14]:
result = empty_df.merge(data1,on='id',how='left')

In [15]:
result

   id  like
0   1    12
1   2    23
2   3    25
3   4    78
4   8   NaN
5  10   NaN

In [16]:
result = result.merge(data2,how='left',on = 'id')

In [17]:
result

   id  like  repost
0   1    12      10
1   2    23      17
2   3    25     NaN
3   4    78     NaN
4   8   NaN      20
5  10   NaN      63

In [18]:
result= result.fillna(0)

In [19]:
result

   id  like  repost
0   1    12      10
1   2    23      17
2   3    25       0
3   4    78       0
4   8     0      20
5  10     0      63